.tl-mod-image-paragraph {
  margin-bottom: 85px
}

.tl-mod-image-paragraph__content {
  display: flex;
  justify-content: space-between;
  &.odd {
    flex-direction: row-reverse;
  }
}

.tl-mod-image-paragraph__title-text {
  color: var(--seconday-color);
  font-size: 32px;
  font-family: 'Gilroy Extra Bold';
  margin-top: 0;
  margin-bottom: 20px;
}

.tl-mod-image-paragraph__content-text {
  width: 485px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 720px) {
  .tl-mod-image-paragraph {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .tl-mod-image-paragraph__image img {
    width: 320px !important;
  }
  .tl-mod-image-paragraph__content {
    flex-direction: column !important;
  }
  .tl-mod-image-paragraph__content-text {
    width: 100% !important;
  }
}