.tl-post-list {
  margin-bottom: 40px;
  .tl-post-list__title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
  }
  .tl-post-list__list {
    display: flex;
  }
  .tl-post-list__item {
    width: 33%;
    margin-right: 15px;
  }
  .tl-post-list__img {
    height: 200px;
    overflow: hidden;
    margin-bottom: 15px;
  }
  a {
    display: block;
    color: var(--seconday-color);
    text-align: center;
  }
}

@media only screen and (max-width: 780px) {
  .tl-post-list {
    padding-left: 20px;
    padding-right: 20px;
    .tl-post-list__list {
      flex-direction: column;
    }
    .tl-post-list__item {
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
    .tl-post-list__img {
      height: auto;
    }
  }
}

@media only screen and (min-width: 781px) and (max-width: 1023px)  {
  .tl-post-list {
    .tl-post-list__img {
      height: auto;
    }
  }
}
