.tl-block-address {
  display: flex;
  font-family: "Gilroy Extra Bold";
  font-size: 22px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom:1px solid #333F4827;
  a {
    color: var(--seconday-color)
  }
}

.tl-block-address__one {
  width: 250px;
  margin-right: 70px;
}

.tl-block-address__two {
  width: 180px;
}

@media only screen and (max-width: 550px) {
  .tl-block-address {
    flex-direction: column;
  }
  .tl-block-address__one {
    margin: 0 0 20px 0;
  }
}