  <div class="tl-feature-bar tl-feature-bar--main">
    <div class="tl-feature-bar__content tl-container">
      <div class="tl-feature-bar__text">
        {{ text }}
      </div>
      <div class="tl-feature-bar__image">
        <img src="/images/svg/home.svg" width="420" />
      </div>
    </div>
  </div>