{% set currentLink = '#' %}

{% if link %}
  {% set currentLink = link %}
{% endif %}
<a href="{{currentLink}}" class="tl-link-bar">
  <div class="tl-link-bar__container">
    <div>
        <img src="{{imgUrl}}" width="130">
    </div>
    <div class="tl-link-bar__text">
      {{ text }} <img src="/images/svg/arrow.svg" width="20" class="tl-link-bar__arrow">
    </div>
  </div>
</div>