{% if postListItems.length %}
  <section class="tl-post-list tl-container ">
    <h3 class="tl-post-list__title">{{ postListHeading }}</h3>
      <ol class="tl-post-list__list" reversed>
        {% for item in postListItems %}
          {% if item.date.getTime() <= global.now %}
            <li class="tl-post-list__item">
              <div class="tl-post-list__img">
                <a href="{{ item.url }}" rel="bookmark">
                  <img src="{{item.data.socialImage}}" />
                </a>
              </div>
              <h4>
                <a href="{{ item.url }}" class="tl-post-list__link" rel="bookmark">{{ item.data.title }}</a>
              </h4>
              {% if item.data.sumary %}
                <div class="tl-post-list__summary">
                  {{ item.data.sumary }}
                </div>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ol>
  </section>
{% endif %}
