<div class="share-post">
  <ul class="share-post__list">
    <li class="share-post__item-list">
      <a href="#" class="share-post__button">
        
      </a>
    </li>
    <li class="share-post__item-list">
      <a href="#" class="share-post__button">
        
      </a>
    </li>
    <li class="share-post__item-list">
      <a href="#" class="share-post__button envelop">
        
      </a>
    </li>
    <li class="share-post__item-list">
      <a href="#" class="share-post__button">
        
      </a>
    </li>
  </ul>
</div>