{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}{{ content | safe }}{% endset %}

{# Post list content #}
{% set postListItems = collections.posts %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% set title = "Blog" %}
    {% set subtitle = "Read all the latest musings and news from the Llamas." %}
    {% set imageUrl = "/images/svg/blog.svg" %}
    {% include "partials/components/tl-title-bar.njk" %}
    {% include "partials/components/tl-post-list.njk" %}
  </main>
{% endblock %}
