{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
<p class="[ intro__meta ] [ text-500 leading-tight ]">
  {% if date %}
    <time datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | dateFilter }}</time>
  {% endif %}
  <span>— {{ helpers.getReadingTime(content) }} minute read</span>
</p>
{% endset %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% set title = "Blog" %}
    {% set subtitle = "Read all the latest musings and news from the Llamas." %}
    {% set imageUrl = "/images/svg/blog.svg" %}
    {% include "partials/components/tl-title-bar.njk" %}
    <div class="tl-container--small">
      <div class="tl-post__main-image">
        <img src="{{socialImage}}" />
      </div>
      <h3 class="tl-post__title">{{ introHeading }}</h3> 
      <div class="tl-post__content">
        {{ content | safe }}
      </div>
      {% if site.enableThirdPartyComments %}
        <hr />
        <aside class="[ post__body ] [ inner-wrapper ] [ pad-bottom-900 text-500 ]">
          {% include "partials/global/third-party-comments.njk" %}
        </aside>
      {% endif %}
        <footer>
          {% include "partials/components/tl-share-post.njk" %}
          {% if tags %}
            <div class="tl-tag-list">
              <span>Tag:</span> 
              {% for item in tags %}
                <a href="/tags/{{ item }}">{{ item }}</a>
              {% endfor %}
            </div>
          {% endif %}
        </footer>
    </div>
  </main>
{% endblock %}
